<h1>Login </h1>
<form action="/login" method="POST">
    <div>
        <label>Email:</label>
        <input type="email" name="email" placeholder="enter your email" required />
    </div>
    <br>
    <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="enter your password" required />
    </div>
    <br>
    <button type="submit" >Login</button>

</form>